<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myproject.springmybatis.mapper.PersonMapper"  >
    <!-- 填写数据库里实例Person对应的表的表名 -->
    <!-- 这里是作为一个变量使用 -->
    <sql id="table">person</sql>
    <resultMap id="baseMap" type="person">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="age" property="age"/>
    </resultMap>

    <!-- id属性填写Dao文件里的函数名称 xxType是参数或是结果的类型根据情况填写 -->
    <!-- 查询所有   -->
    <select id="findAll" resultType="com.myproject.springmybatis.model.Person">
        select * from 
        <include refid="table"/>
    </select>

    <select id="isValid" resultMap="baseMap" >
        select * from person where userName=#{userName} and password=#{password}
    </select>


    <!-- 根据id查询 -->
    <select id="getPersonById" resultType="com.myproject.springmybatis.model.Person">
        select * from  <include refid="table"/>
        where id=#{id}
    </select>

    <!-- 增 -->
    <insert id="addPerson" useGeneratedKeys="true" keyProperty="id" parameterType="com.myproject.springmybatis.model.Person">
        insert into
        <include refid="table"/>
        (username,mobile,password,age)
        values
        (#{userName},#{mobile},#{password},#{age})
    </insert>

    <!-- 改 -->
    <update id="update" parameterType="com.myproject.springmybatis.model.Person">
        UPDATE
        <include refid="table"/>
        SET
        <if test="userName != null">userName = #{userName},</if>
        <if test="mobile != null">mobile = #{mobile},</if>
        <if test="age != null">age = #{age}</if>
        WHERE
        id = #{id}
    </update>

    <!-- 删 -->
    <delete id="deleteById" parameterType="com.myproject.springmybatis.model.Person">
        DELETE FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </delete>
    <select id="pageAll" resultMap="baseMap">
        select * from person limit #{currentPage},#{pageSize}
    </select>
    <select id="countAll" resultType="int">
        select count(1) from person
    </select>
    <select id="findByPage" resultMap="baseMap" >
        <bind name="userName" value="'%' + person.getUserName() + '%'" />
        <bind name="mobile" value="'%' + person.getMobile() + '%'" />
        select * from person
        <where>
            <if test="person.userName != ''and person.userName!=null">
               userName like #{person.userName}
            </if>
            <if test="person.mobile != '' and person.mobile !=null">
               and mobile like #{person.mobile}
            </if>
        </where>
    </select>

    <select id="findByPage2" resultMap="baseMap" >
        select * from person
        <where>
            <if test="person.userName != ''and person.userName!=null">
                <bind name="userName" value="'%' + person.getUserName() + '%'" />
                userName like #{userName}
            </if>
            <if test="person.mobile != '' and person.mobile !=null">
                <bind name="mobile" value="'%' + person.getMobile() + '%'" />
                and mobile like #{mobile}
            </if>
        </where>
    </select>
</mapper>