<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.springmybatis.mapper.UserMapper">
    <select id="getPassword" resultType="String">
        select password from user where username=#{userName}
    </select>
    <select id="getUserByLoginName" resultType="user">
        select * from user where username=#{userName}
    </select>
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into user (username,password,phonenumber) values (#{user.userName},#{user.password},#{user.phonenumber})
    </insert>
</mapper>