<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap/bootstrap.js}" ></script>
    <script type="text/javascript">
        function valid(){
            var password = $("#password").val();
            var repassword = $("#repassword").val();
            var username = $("#userName").val();
            if (username == '') {
                alert("用户名不允许为空!");
                return ;
            }
            if (password == '') {
                alert("请输入密码");
                return ;
            }
            if (password != repassword || password=='') {
                alert("两次输入密码不一致,请重新输入");
                // $("#password").val("");
                $("#repassword").val("");
                return false;
            }else {
                $("#submit").click();
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="form row">
        <form th:action="@{/success}" method="post"  class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
            <h3 class="form-title">账号注册</h3>
            <div class="col-sm-9 col-md-9">
                <div class="form-group">
                    <i class="fa fa-user fa-lg">用户名</i>
                    <input class="form-control required" type="text" placeholder="用户名" id="userName" name="userName" autofocus="autofocus" maxlength="20"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg">密码</i>
                    <input class="form-control required" type="password" placeholder="密码" id="password" name="password" maxlength="20"/>
                </div><div class="form-group">
                    <i class="fa fa-lock fa-lg">再次输入密码</i>
                    <input class="form-control required" type="password" placeholder="再次输入密码" id="repassword" name="repassword" maxlength="20"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-user fa-lg">年龄</i>
                    <input class="form-control" type="text" placeholder="年龄" id="age" name="age" autofocus="autofocus" maxlength="20"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-user fa-lg">手机号</i>
                    <input class="form-control required" type="text" placeholder="用户名" id="mobile" name="mobile" autofocus="autofocus" maxlength="20"/>
                </div>
                <div class="form-group">
                    <input type="submit" id="submit" style="display: none" value="提交 "/>
                    <input type="button" value="提交" onclick="valid()">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>