<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.redis.springredis.mapper.UserMapper">
    <select id="getUser" parameterType="long" resultType="user">
        select id,username,note from users
        where id=#{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into users(username,note) values (#{userName}, #{note})
    </insert>

    <update id="updateUser" >
        update users
        <set>
            <if test="userName !=null">
                username=#{userName},
            </if>
            <if test="note != null">
                note = #{note}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findUsers" parameterType="user">
        select id, username,note from users
        <where>
            <if test="userName != null">
                and username=#{userName}
            </if>
            <if test="note != null">
                and note=#{note}
            </if>
        </where>
    </select>

    <delete id="deleteUser" parameterType="long">
        delete from users where id=#{id}
    </delete>
</mapper>